<div class="container-fluid">
  <div class="row bg-info-subtle">
    <div class="col-9">
      <div class="row">
        <div class="col">
          <p>{{ pulsado }}</p>
        </div>
          <div class="col">Secuencia de botones pulsados:
            <div>[{{ArrayPulsado()}}]</div>
          <div>Suma de valores: {{sumaDeValores}}</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary" (click)="resetPadre()" >Reset</button>
    </div>
  </div>
  <div class="row">
<!--      pinta lo botones del array de botones-->
    <app-botones
      *ngFor="let boton of botones"
      [boton]="boton"
      (eventoBotonHijoPulsado)="botonPulsado($event)"
      [eventoResetPadre] = "eventoResetPulsado"
      class="col-3">
<!--      [] input en hijo-->
<!--      () output en hijo-->
    </app-botones>
  </div>
</div>
